*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Segoe UI", monospace;
}

body{
background:#050b08;
color:#7CFFB2;
min-height:100vh;
text-align:center;
background-image:
linear-gradient(rgba(0,255,150,.03) 1px, transparent 1px),
linear-gradient(90deg, rgba(0,255,150,.03) 1px, transparent 1px);
background-size:40px 40px;
}

/* HEADER */
h1{
margin:25px 0;
font-size:42px;
text-shadow:0 0 20px #00ff99;
}

/* CODE INPUT */
textarea{
width:70%;
height:200px;
background:#020806;
border:1px solid #00ff99;
border-radius:12px;
color:#00ff99;
padding:15px;
font-size:14px;
box-shadow:0 0 25px rgba(0,255,153,.3);
outline:none;
}

/* BUTTONS */
button{
margin-top:20px;
padding:12px 28px;
border:none;
border-radius:30px;
background:linear-gradient(90deg,#00ff99,#00ccff);
color:black;
font-weight:600;
cursor:pointer;
box-shadow:0 0 15px #00ff99;
transition:.3s;
}

button:hover{
transform:scale(1.05);
box-shadow:0 0 25px #00ff99;
}

/* LOADER */
#loader{
margin:20px auto;
width:300px;
height:10px;
background:#02110b;
border-radius:20px;
overflow:hidden;
display:none;
}

#loader:before{
content:"";
display:block;
height:100%;
width:40%;
background:#00ff99;
animation:scan 1.2s infinite;
}

@keyframes scan{
0%{margin-left:-40%}
100%{margin-left:100%}
}

/* SCORE */
#score{
font-size:28px;
margin-top:25px;
text-shadow:0 0 15px #00ff99;
}

/* ISSUES */
#issues{
margin-top:15px;
font-size:14px;
line-height:1.6;
}

/* PIE CHART */
canvas{
margin:40px auto;
max-width:300px;
}

/* LOGIN / SIGNUP */
form{
margin:120px auto;
width:300px;
background:rgba(0,255,150,.05);
padding:40px;
border-radius:15px;
box-shadow:0 0 30px rgba(0,255,153,.3);
}

input{
width:100%;
padding:10px;
margin-top:15px;
background:#020806;
border:1px solid #00ff99;
color:#00ff99;
border-radius:8px;
}

a{
display:block;
margin-top:15px;
color:#00ff99;
text-decoration:none;
}

a:hover{
text-decoration:underline;
}