<!DOCTYPE html>
<html>
<head>
    <title>AI Security Analyzer</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="app">

    <h1>🚀 AI Security Analyzer</h1>

    <!-- INPUT -->
    <div class="card">
        <textarea id="code" placeholder="Paste your code here..."></textarea>

        <div class="buttons">
            <button id="exampleBtn">Load Example</button>
            <button id="scanBtn">Scan</button>
        </div>
    </div>

    <!-- LOADING -->
    <div id="loading" class="hidden">🤖 AI is analyzing...</div>

    <!-- RESULT -->
    <div id="result" class="hidden">

        <div class="card">
            <h2 id="label"></h2>
            <p>Risk: <span id="risk"></span>%</p>
            <p>Confidence: <span id="confidence"></span>%</p>
        </div>

        <div class="card">
            <h3>🧠 Reason</h3>
            <p id="reason"></p>
        </div>

        <div class="card">
            <h3>🛠 Fix</h3>
            <pre id="fix"></pre>
        </div>

    </div>

</div>

<!-- IMPORTANT -->
<script src="/static/js/app.js"></script>

</body>
</html>