<!DOCTYPE html>
<html>
<head>
    <title>AI Security Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="main-container">

    <h1 class="title">🚀 AI Security Analyzer</h1>

    <textarea id="codeInput"></textarea>

    <br><br>

    <button onclick="loadExample()">Load Example</button>
    <button onclick="scanCode()">Scan</button>

    <div id="loader"></div>

    <!-- RESULT -->
    <div id="resultBox" class="card" style="display:none;">
        <h2 id="resultText"></h2>

        <p>Risk: <span id="risk"></span>%</p>
        <p>Confidence: <span id="confidence"></span>%</p>
    </div>

    <!-- CODE -->
    <div class="card">
        <h3>🔍 Highlighted Code</h3>
        <pre id="highlighted"></pre>
    </div>

    <!-- VULNERABILITIES -->
    <div class="card">
        <h3>🚨 Issues</h3>
        <ul id="vulnList"></ul>
    </div>

    <!-- FIXES -->
    <div class="card">
        <h3>🛠 Fixes</h3>
        <ul id="fixList"></ul>
    </div>

    <!-- GRAPH -->
    <div class="card">
        <canvas id="chart"></canvas>
    </div>

    <button onclick="downloadReport()">Download Report</button>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>





















