<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="auth">

<div class="auth-box">
    <h2>🔐 Login</h2>

    <form action="/login" method="POST">
        <input name="username" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <p>Don't have account?</p>

    <form action="/signup" method="POST">
        <input name="username" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <button type="submit">Signup</button>
    </form>
</div>

</body>
</html>